{% extends 'base.html.twig' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}

<style> h2,h1 {color: red} </style>

<h2> Liste de tous les emprunts par ordre alphabétique</h2>

{% endfor %}


{% endblock %}
